@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

/* Leaflet custom styles */
.leaflet-container {
  z-index: 1;
}